##############################################################
#  Module-specific settings
##############################################################
HistFitModule.InputFiles /exp/uboone/data/users/mhandley/surprise_samples/run4b/numi_bkg/run4b_beamoff_preselected_bdt.root /exp/uboone/data/users/mhandley/surprise_samples/run4b/numi_bkg/run4b_overlay_preselected_bdt.root /exp/uboone/data/users/mhandley/surprise_samples/run4b/100_MeV_RHC_Majorana_nugraph_signal_KDAR_DUMP_preselected_bdt.root /exp/uboone/data/users/mhandley/surprise_samples/run4b/run4b_beamon_preselected_bdt.root
HistFitModule.TreeName NeutrinoSelectionFilter
HistFitModule.SampleLabels run4b_beamoff,run4b_overlay,run4b_signal,run4b_data
HistFitModule.SampleTypes beamoff overlay signal data
HistFitModule.SampleWeights 0.467 0.169 1.0 1.0
HistFitModule.RateScaling 1.86
#0.7723 0.6283 0.4234 0.75 1.0
HistFitModule.TestFractions -0.5 -0.5 -0.2 1.0
HistFitModule.BlindData True
HistFitModule.DataPOT 2.688e+20
HistFitModule.SignalPOT 6.76308e+28
HistFitModule.SimulatedSignalU2 1.0e-8

##############################################################
#  Global context if running multiple modules
##############################################################
Global.RunLabel run4
