##############################################################
#  Module-specific settings
##############################################################
Plotter.InputFiles /Users/magnus/Documents/PhD/NuMI_MC/old_samples/run3_beamoff_preselected_bdt.root /Users/magnus/Documents/PhD/NuMI_MC/old_samples/run3_overlay_preselected_bdt.root /Users/magnus/Documents/PhD/NuMI_MC/old_samples/run3_dirt_preselected_bdt.root /Users/magnus/Documents/PhD/NuMI_MC/old_samples/RHC_100MeV_majorana_preselected_bdt.root /Users/magnus/Documents/PhD/NuMI_data/old_samples/run3_data_preselected_bdt.root
Plotter.TreeName NeutrinoSelectionFilter
Plotter.SampleLabels run3b_beamoff run3b_overlay run3b_dirt run3b_signal run3b_data
Plotter.SampleWeights 0.7723 0.6283 0.4234 0.75 1.0
#0.7723 0.6283 0.4234 0.75 1.0

##############################################################
#  Global context if running multiple modules
##############################################################
Global.RunLabel run3