##############################################################
#  Module-specific settings
##############################################################
Preselection.InputFiles /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamoff_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_overlay_extravars_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/MCC9.10_Run4_NuMI_RHC_dirt_extravars_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/50_ee_RHC_CV_tmphadd_KDAR_DUMP_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/100_ee_RHC_CV_tmphadd_KDAR_DUMP_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/150_pi0_RHC_CV_surprise_KDAR_DUMP_slimmed.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamon_slimmed.root
Preselection.Outputs /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamoff_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_overlay_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_dirt_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/50_ee_RHC_CV_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/100_ee_RHC_CV_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/150_pi0_RHC_CV_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamon_preselected.root
Preselection.TreeName nuselection/NeutrinoSelectionFilter
Preselection.Cuts slice_orig_pass_id == 1,flash_time_flash_matching > 6.5,flash_time_flash_matching < 16.5,NeutrinoEnergy2 < 500,min_x > 9,max_x < 253,min_y > -112,max_y < 112,min_z > 14,max_z < 1020,contained_fraction > 0.9,crtveto == 0,shr_phi_v_maxE> -3.14
#Preselection.Cuts slice_orig_pass_id == 1,crtveto==0,n_showers_contained_MCStool > 0,pfng2shravrg_maxE > 0.7,run > 19800,run < 20700,

Preselection.SampleLabels Run 4b beamoff,Run 4b in-cryo nu,Run 4b out-of-cryo nu,Run4b 50MeV N -> nu e+ e- signal,Run4b 100MeV N -> nu e+ e- signal,Run4b 150MeV N -> nu pi0 signal,Run 4b data
Preselection.SampleTypes beamoff overlay dirt signal signal signal data
#Preselection.SampleWeights 0.467 0.169 1.0 1.0
#Preselection.SampleWeights 0.467 0.169 0.5 1.0
#Preselection.SampleWeights 0.431 0.114 0.638 (0.2233) 0.5 0.5 0.5 1.0
#Preselection.SampleWeights 0.431 0.159 0.313 0.5 0.5 0.5 1.0
#Preselection.SampleWeights 0.391 0.159 0.313 0.5 0.5 0.5 1.0
Preselection.SampleWeights 0.467 0.159 0.313 0.5 0.5 0.5 1.0
Preselection.MakePlots True
Preselection.Plots NeutrinoEnergy2

Preselection.Plot.NeutrinoEnergy2.Column NeutrinoEnergy2
Preselection.Plot.NeutrinoEnergy2.XTitle Reconstructed Neutrino Energy [MeV]
Preselection.Plot.NeutrinoEnergy2.NBins 20
Preselection.Plot.NeutrinoEnergy2.XMin 0.0
Preselection.Plot.NeutrinoEnergy2.XMax 500.0

# Branches to keep
Preselection.Keep run sub evt nslice n_pfps n_tracks n_showers trk_sce_start_x_v trk_sce_start_y_v trk_sce_start_z_v trk_sce_end_x_v trk_sce_end_y_v trk_sce_end_z_v shr_theta_v shr_phi_v shr_px_v shr_py_v shr_pz_v shrclusdir0 shrclusdir1 shrclusdir2 shr_energy_tot trk_theta_v trk_phi_v trk_dir_x_v trk_dir_y_v trk_dir_z_v trk_energy trk_energy_hits_tot trk_energy_tot trk_score_v trk_calo_energy_u_v trk_end_x_v pfnplanehits_U pfnplanehits_V pfnplanehits_Y NeutrinoEnergy2 SliceCaloEnergy2 nu_flashmatch_score contained_sps_ratio flash_time_flash_matching contained_fraction trk_score crtveto swtrig topological_score shr_tkfit_dedx_max trk_chipr_best min_x min_y min_z max_x max_y max_z trk_score_v_maxE shr_theta_v_maxE shr_px_v_maxE trk_end_x_v_maxE shr_phi_v_maxE shr_pz_v_maxE trk_theta_v_maxE trk_phi_v_maxE trk_dir_z_v_maxE trk_calo_energy_u_v_maxE slice_orig_pass_id n_showers_contained_MCStool pfng2shravrg pfng2shravrg_maxE slcng2shr slcng2mip slcng2hip slcng2bkg pfng2mipfrac pfng2hipfrac pfng2bkgfrac pfng2mipfrac_maxE pfng2hipfrac_maxE pfng2bkgfrac_maxE interaction_time_merged interaction_time_abs


##############################################################
#  Global context if running multiple modules
##############################################################
Global.RunLabel run4b
