##############################################################
#  Example Python wrapper configuration
##############################################################
Python.Script /Users/magnus/Documents/PhD/MicroSCOPE/tools/python_wrapper_demo.py
Python.PythonExecutable python3
Python.WorkingDirectory .
Python.PassConfig true
Python.ConfigArg --config
Python.Arguments InputFiles OutputFile TreeName Threshold Message
Python.Arg.InputFiles input_a.root input_b.root
Python.Arg.OutputFile output.root
Python.Arg.TreeName nuselection/NeutrinoSelectionFilter
Python.Arg.Threshold 0.42
Python.Arg.Message hello_from_python_wrapper

Global.RunLabel python_demo
