##############################################################
#  Module-specific settings
##############################################################
Preselection.InputFiles 
Preselection.Outputs 
Preselection.TreeName 
Preselection.Cuts 

Preselection.SampleLabels 
Preselection.SampleTypes 
Preselection.SampleWeights 

# Branches to keep
Preselection.Keep 


##############################################################
#  Global context if running multiple modules
##############################################################
Global.RunLabel 
