##############################################################
#  Module-specific settings
##############################################################
Slimmer.InputFiles 
Slimmer.OutputFiles 
Slimmer.TreeName 
Slimmer.SampleLabels 

# Branches to keep after slimming; derived variables can be listed too
Slimmer.Keep 

##############################################################
#  Global context if running multiple modules
##############################################################
Global.RunLabel 