##############################################################
#  Example Python wrapper configuration
##############################################################
Python.Script /Users/magnus/Documents/PhD/MicroSCOPE/src/Modules/xgboost_training_evaluation.py
Python.PythonExecutable python3
Python.WorkingDirectory .
Python.PassConfig false
Python.ConfigArg --config
Python.Arguments BkgFiles SigFiles DataFile BkgSampleWeights SigSampleWeights BkgTrainFractions SigTrainFractions TreeName Branches KeepBranches OutputDir
Python.Arg.BkgFiles /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamoff_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_overlay_preselected.root /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_dirt_preselected.root
Python.Arg.SigFiles /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/50_ee_RHC_CV_preselected.root
Python.Arg.DataFile /Users/magnus/Documents/PhD/NuMI_MC/SURPRISE/run4b_beamon_preselected.root
# To score detector-variation files like data, add DetVarFiles to Python.Arguments and set Python.Arg.DetVarFiles.
# Python.Arg.DetVarFiles /path/to/detvar_cv.root /path/to/detvar_variation.root
#Removed pfnplanehits_V_maxE pfnplanehits_U_maxE pfnplanehits_Y_maxE because I am silly and the files don't have those branches. Will add them back in when I re-run the preselection with those branches included.
Python.Arg.Branches shrclusdir2 n_tracks n_pfps trk_energy shr_theta_v_maxE shr_phi_v_maxE shr_pz_v_maxE trk_theta_v_maxE trk_phi_v_maxE trk_energy_tot trk_dir_z_v_maxE NeutrinoEnergy2 shr_energy_tot trk_score_v_maxE topological_score shr_tkfit_dedx_max pfng2shravrg_maxE pfng2bkgfrac_maxE
Python.Arg.KeepBranches weightsGenie weightsPPFX weightsReint weight_cv weight_cv_untuned weight_cv_noppfx weightSpline weightTune weightSplineTimesTune ppfx_cv npi0
Python.Arg.TreeName nuselection/NeutrinoSelectionFilter
Python.Arg.BkgSampleWeights 0.467 0.159 0.313
Python.Arg.SigSampleWeights 1.0
Python.Arg.BkgTrainFractions 0.5 0.5 0.5
Python.Arg.SigTrainFractions 0.75
Python.Arg.OutputDir outputs/xgboost
Python.Arg.ModelOutput xgb_bdt.json

Global.RunLabel run_4b
